<div class="container">
    <div class="row">
        <div class="col">
            <h1>These are all the users that exist in the database.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">ID</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {{#each users}}
                    <tr>
                        <th scope="row">{{username}}</th>
                        <td>{{id}}</td>
                        <td>{{email}}</td>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td><a href="/users/{{id}}"><button class="btn btn-primary btn-sm">View</button></a></td>
                        <td><button class="btn btn-danger btn-sm delete-user" data-id={{{id}}}>Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/users/new"><button class="btn btn-secondary">Add new user</button></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".delete-user").on("click", function (event) {
        const confirmDelete = confirm("Are you sure you want to delete the user?");
        if (confirmDelete) {
            console.log($(this).data("id"))
            const idToDelete = $(this).data("id");
            $.ajax({
                url: `/api/users/${idToDelete}`,
                method: "DELETE"
            }).done((response) => {
                console.log(response);
                if (response.success) {
                    alert(response.message);
                    location.reload();
                }
            })
        }
    })
</script>